.about-hero{
    background: #F29F05;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding-bottom: 5%;
}

.about-hero h2{
    width: 65%;
    margin: 0 auto;
    margin-top: 150px;
    text-align: center;
    font-family:'Aoenik-Bold';
    font-size: 64px;
    color: #fff;
}

.about-hero p{
    width: 45%;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    font-family:'Aoenik-Regular';
    color: #fff;
}

.con{
    width: 90%;
    margin:  0 auto;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    gap: 120px;
}

.about-text{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-text div{
    flex-basis: 47%;
}

.about-text div h2{
    font-size: 48px;
    font-family:'Aoenik-Bold';
}


.about-text div h2 strong{
    color: #F29F05;
}

.about-text div p{
    font-size: 18px;
    line-height: 30px;
    font-family:'Aoenik-Regular';
    margin-top: 20px;
}

.about-text div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.about-text div button{
    margin-top: 15px;
    background: #8C29E4;
    color: #fff;
    font-family:'Aoenik-Bold';
    border: none;
    border-radius: 30px;
    padding: 12px 20px;
    cursor: pointer;
}

.about-rev{
    display: flex;
   justify-content: space-between;
   align-items: center; 
}

.about-rev div{
    flex-basis: 47%;
}

.about-rev div h2{
    font-size: 48px;
    font-family:'Aoenik-Bold';
}


.about-rev div h2 strong{
    color: #F29F05;
}

.about-rev div p{
    font-size: 18px;
    line-height: 30px;
    font-family:'Aoenik-Regular';
    margin-top: 20px;
}

.about-rev div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.core-features{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.key{
    max-width: 280px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}



@media screen and (max-width:900px){
    .about-hero{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }
          
    .about-hero h2{
        width: 90%;
        margin: 0 auto;
        margin-top: 100px;
        text-align: center;
        font-family:'Aoenik-Bold';
        font-size: 36px;
        color: #fff;
    }

    .about-hero p{
        width: 85%;
        margin: 0 auto;
        text-align: center;
        font-size: 18px;
        line-height: 30px;
        font-family:'Aoenik-Regular';
        color: #fff;
    }

    .con{
        width: 90%;
        margin:  0 auto;
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .about-text{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 30px;
        align-items: center;
      }

      .about-text div{
        flex-basis: 100%;
        text-align: center;
    }

    
    .about-text div h2{
        font-size: 36px;
        font-family:'Aoenik-Bold';
    }


    .about-rev{
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
        gap: 30px;
        align-items: center;
      }

      .about-rev div{
        flex-basis: 100%;
        text-align: center;
    }

    
    .about-rev div h2{
        font-size: 36px;
        font-family:'Aoenik-Bold';
    }        
}