.cta{
    width: 90%;
    margin: 0 auto;
    margin-top: 120px;
    background: #8C29E4;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
}

.flap-con{
    flex-basis: 48%; 
    padding: 6% 4%;
    position: relative;
    border-radius: 40px;
    overflow: hidden;
}


.flap-con h2{
    color: #fff;
    font-family:'Aoenik-Bold';
    font-size: 48px;
   
}

.flap-con h2 strong{
    color: #F29F05;
}

.flap-con button{
    margin-top: 30px;
    background: #fff;
    border: none;
    border-radius: 30px;
    color: #000;
    font-family:'Aoenik-Bold';
    padding: 12px 16px;
    cursor: pointer;
    transition: all ease-in 0.3s;
}

.flap-con button:hover{
    background: #5B139B;  
    color: #fff;
}

.cta-img{
    flex-basis: 40%;
}

.cta-img img{
    width: 100%;
}

.fill{
    width: 70%;
    margin: 0 auto;
    margin-top: -5px;
    height: 70px;
    background: #F29F05;
    border-radius: 100px 100px 0 0;
}

@media screen and (max-width:900px){
    .cta{
        width: 90%;
        margin: 0 auto;
        margin-top: 60px;
        background: #8C29E4;
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
    }

        
    .flap-con{
        flex-basis: 100%; 
        padding: 8% 6% ;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius:25px ;
    }

    .flap-con h2{
        color: #fff;
        font-family:'Aoenik-Bold';
        font-size: 36px;
        text-align: center;
    }

    .cta-img{
        flex-basis: 100%;
    }
        
}