.bar{
    width: 80%;
    height: 100px;
    background: #8C29E4;
}

.aff{
    background: #f9f9f9;
    margin: 0 auto;
    display: flex;
    gap: 30px;
    padding: 60px;
}

.aff div img{
   width: 100%;
   border-radius: 20px;
   border: 2px solid #cbb2e2;
}

.aff div h2{
    font-family:'Aoenik-Bold';
    font-size: 48px;
}


.aff-lite{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: #fff;
    padding: 30px;
    border-radius: 30px;
}

.aff-dark{
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 20px;
    border-radius: 30px;
}

@media screen and (max-width:900px){
    .aff{
        background: #f9f9f9;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 30px;
    }

    .aff div h2{
        font-family:'Aoenik-Bold';
        font-size: 36px;
        text-align: center;
    }
    
    .aff-lite{
        display: flex;
        flex-direction: column;
        gap: 20px;
        background: #fff;
        padding: 20px;
        border-radius: 30px;
    }
    
    .aff-dark{
        background: #fff;
        display: flex;
        flex-direction: column;
        padding: 20px;
        gap: 20px;
        border-radius: 30px;
    }
    
}