.disclaimer{
    width: 90%;
    margin: 0 auto;
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.disclaimer h2{
    font-size: 36px;
    font-family:'Aoenik-Bold';   
}


.disclaimer p{
    font-size: 18px;
    font-family:'Aoenik-Regular';
    line-height: 26px;  
}

@media screen and (max-width:900px){
    .disclaimer{
        width: 90%;
        margin: 0 auto;
        padding-top: 60px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
     
}