.faq{
    width: 70%;
    margin: 0 auto;
    margin-top: 40px;
}

.faq-div{
  position: relative;
  background-image:url("https://res.cloudinary.com/dxnukbo0u/image/upload/v1706489978/woman-manager-standing-workplace-lady-with-plant-hands-man-buying-flowers_gineo0.jpg") ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  flex-direction: column;
  color: #fff;
}

.faq-overlay{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding: 6% 2%;
  padding-top: 120px;
  background-image:url("https://res.cloudinary.com/dxnukbo0u/image/upload/v1697885514/Rectangle_1_pg6gnv.png") ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.faq-overlay h2{
  text-align: center;
  font-size: 64px;
  font-family:'Aoenik-Bold';
}

.header{
  width: 100%;
  margin: 0 auto;
  margin-top: 120px;
  margin-bottom: 40px;
}

.header h2{
  font-size: 48px;
  font-family:'Aoenik-Bold';
}


  .szh-accordion{
    background: transparent;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .szh-accordion__item-btn{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
    font-size: 20px;
    font-family:'Aoenik-Regular';
    text-align: left;
    background: #8d29e441;
    border-radius: 5px;
    border: none;
  }

  .acc-img{
    width: 20px;
    height: 20px;
    object-fit: cover;
  }

  .szh-accordion__item-content{
    background: transparent;
    transition: all ease-in 0.3s;
    padding: 20px;
    font-size: 18px;
    line-height: 26px;
    font-family:'Aoenik-Regular';
  }

  @media screen and (max-width:900px){
    .faq{
        width: 90%;
        margin: 0 auto;
        margin-top: 40px;
    }

      
  .faq-overlay h2{
    text-align: center;
    font-size: 36px;
    font-family:'Aoenik-Bold';
  }


    .header{
      width: 90%;
      margin: 0 auto;
      margin-top: 60px;
      margin-bottom: 40px;
    }
    
    .header h2{
      text-align: center;
      font-size: 24px;
      font-family:'Aoenik-Bold';
    }
    
  }
  
 
 