.refund{
    width: 90%;
    margin: 0 auto;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.refund h2{
    font-size: 36px;
    font-family:'Aoenik-Bold';   
}


.refund p{
    font-size: 18px;
    font-family:'Aoenik-Regular';
    line-height: 26px;  
}

.refund span{
    font-size: 20px;
    font-family:'Aoenik-Bold'; 
}
